.gameContent {
    overflow: scroll !important;
    display: block !important;
    box-shadow: 8px 0px 5px black;
    background-color: rgba(243, 245, 250, 0.221);
    height: 72vh !important;
    
    h4 {
        font-family: "Press Start 2P";
        text-shadow: 2px 2px 3px black;
        color: white;
        letter-spacing: 1px;
        margin-top: 2%;
    }
    .inputGroup {
        position: sticky;
        top: 0;
        z-index: 1;
        margin: 10px;
        padding: 20px;
    }

    .searchButton {
        color: white;
        font-size: larger;
        font-weight: bold;

        &:hover {
            color: white;
            transform: scale(1.02);
            box-shadow: 1px 1px 2px black;
        }
    }

    .gameCard {
        //width: 500px;
        &:hover {
            transform: scale(1.02);
            cursor: pointer;
        }
    }

    .next {
        display: flex;
        float: right;
        margin: 10px 15px 10px 0px;
        padding: 10px;
        color: white;
        font-size: larger;
        font-weight: bold;
        letter-spacing: 3px;
        &:hover {
            color: white;
            transform: scale(1.02);
            transition-duration: 0.2s;
            box-shadow: 2px 2px 3px black;
        }

        &:focus {
            color: white;
        }
    }

    .prev {
        float: left;
        margin: 10px 0px 10px 35px;
        padding: 10px;
        color: white;
        font-size: larger;
        font-weight: bold;
        letter-spacing: 3px;
        &:hover {
            color: white;
            transform: scale(1.02);
            transition-duration: 0.2s;
            box-shadow: 2px 2px 5px black;
        }
    }
}
.games {
    display: flex;
    flex-wrap: wrap;
    //margin: auto;
    padding: 15px;
    float: left;
    
    .card-body {
        margin: 5px;
        padding: 0px;
        background-color: rgba(255, 255, 255, 0.877);
        box-shadow: 5px 5px 10px;
        img {
            box-shadow: 5px 5px 10px;
        }
    }
}
