
    
    .homeContent {
        
        box-shadow: 8px 0px 5px black;
        background-color: rgba(243, 245, 250, 0.221);
        height: 60vh;
    }

    h1 {
        color: white;
        margin-top: 10px;
    }

    button {
        margin: auto;
    }

