h1{
    color: white
}

.review-feed-box {
    padding:20px;
}

.review {
    border: 2px solid black;
    margin: 5px;
}

.review-body {
    border: 1px solid grey;
    margin: 20px;
    padding: 10px;
}

.review-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.userlogo {
    width: 40px;
    border: 1px solid black;
    border-radius: 5em;
    background-color: grey;
}