.homeContent {
    padding: 20px;
}

.users {
    display: flex;
    align-content: center;
    border: 5px solid black;
    height: 60vh;
    padding: 1rem;
    margin: 1rem;
}

.username {
    font-size: 50px;
    display: flex;
    justify-content: center;
    
}

.user-info {
    border: 1px solid aqua;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
}

.review-info {
    padding:10px;
}

.review-title {
    font-size: 50px;
    text-decoration: underline;
}

.review-body {
    border:5px solid white;
    background-color: white;
}

.user-container {
    display: flex;
    justify-content: space-between;
    border: 3px solid aqua;
}

.user-picture {
    border: 1px solid black;
    border-radius: 5em;
    background-color: grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}