.sideBarDiv {
    margin-bottom: 4%;
    margin-top: -2%;
 
    a {
        color: white;
        font-size: x-large;
        text-decoration: none;

        &:hover {
            text-shadow: 3px 3px 6px;
            transition-duration: 0.3s;
            color: white;
            text-decoration: none;
        }
    }

    .nav {
        flex-wrap: wrap;
    }

    .toggler {
        font-size: x-large;
        color: #ffba04;
        float: left;
        text-shadow: 1px 1px 3px white;
        letter-spacing: 1px;
        font-family: 'Press Start 2P', cursive
    }

    button {
        background-color: #ffba04;
        font-size: larger;
        font-weight: bold;
        padding: 10px;

        &:hover {
            background-color: #ffba04;
        }
    }

    li {
        padding: 8px;
        margin: auto;
    }

    .logout {
        margin: auto;
        color: white;
        background-color: transparent;
        border: 1px solid #ffba04;
    }
}
