.modal-content {
    margin-top: 38%;
    background-color: rgba(243, 245, 250, 0.221) !important;
    border: none !important;
}

.modalForm {
    height: max-content;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px;
    background-color: rgba(255, 255, 255, 0.959);

    h3 {
        padding-right: 20px;
        margin-bottom: 0px;
        color: #ffba04;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.561);
    }

    .modal-body {
        display: flex;
        flex-direction: column;
    }

    input {
        margin-bottom: 20px;
        box-shadow: 2px 2px 3px black;
    }

    button {
        border: none;
        box-shadow: 2px 2px 3px black;
        color: white;
        font-size: large;
        font-weight: bold;
        letter-spacing: 1px;

        &:hover {
            transform: scale(1.04);
            box-shadow: 2px 2px 4px black;

            color: white;
        }
    }
}
